.home-container {
  width: 100%;
  height: 100vh;

  /* background: linear-gradient(45deg, #EE7752, #E73C61, #23A6D5, #23D5AB); */
  background: linear-gradient(
    63deg,
    var(--primary),
    var(--secondary),
    var(--neutral-white)
  );
  background-size: 400% 400%;
  position: relative;
  animation: change 13s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
