body {
  /* App Color Palette */
  background-color: var(--neutral-white);
  
  /* --primary: #E54B4B; */
  --primary: #4B6CE5;
  /* --secondary: #FF9585; */
  --secondary: #85AAFF;

  --white: #FFFFFF;
  --neutral-white: #F5F5F5;
  --darker-white: #EBEBEB;

  --brighter-black: #4C4C47;
  --neutral-black: #2D2D2A;
  --black: #000000;

  --neutral-success: #5C946E;
  --neutral-warning: #F8C630;

  margin: 0;
  font-family: "Rubik", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basic-page-template {
  width: 100%;
  padding: 25px 30px 25px 30px;
}

.basic-page-template .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral-black);
}