body {
  /* App Color Palette */
  background-color: var(--neutral-white);
  
  /* --primary: #E54B4B; */
  --primary: rgb(90, 28, 236);
  /* --secondary: #FF9585; */
  --secondary: #3c9ae7;

  --white: #FFFFFF;
  --neutral-white: #F5F5F5;
  --darker-white: #EBEBEB;

  --brighter-black: #4C4C47;
  --neutral-black: #2D2D2A;
  --black: #000000;

  --neutral-success: #5C946E;
  --neutral-warning: #F8C630;

  margin: 0;
  font-family: "Rubik", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-margin {
  margin: 0px;
}

.basic-page-template {
  width: 95%;
  padding: 40px 0px;
  margin: 0px auto;
}

.basic-page-template .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral-black);
}

.n-spacing {
  padding: 20px;
}

.glass {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 2px solid transparent;
  backdrop-filter: blur(30px);
  background-clip: padding-box;
  box-shadow: 6px 6px 15px rgba(45, 55, 68, 0.2);
}